:root {
  --border-radius: 0.5rem;
  --button-width: 90vw;
  --tng-blue: rgb(5, 99, 165);
  --light-blue: hsl(205, 95%, 40%);
  --tng-gray: rgb(161, 166, 174);
  --light-gray: hsl(217, 8%, 94%);
  --dark-red: hsl(0, 100%, 40%);
  --red: hsl(0, 100%, 50%);
}

@media (min-width: 300px) {
  :root {
    --button-width: 14rem;
  }
}

:global * {
  box-sizing: border-box;
}

:global *:focus {
  outline: none;
}

:global body {
  font: 16px sans-serif;
  margin: 0;
}

:global input[type='text'],
:global input[type='submit'],
:global button,
:global select {
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0;
  border-radius: var(--border-radius);
}

:global input[type='text'] {
  line-height: 2rem;
  padding: 0 0.5rem;
}

:global input[type='submit'],
:global button,
:global select {
  line-height: 2.25rem;
  padding: 0;
}

:global input[type='text'] {
  border: 0.125rem solid var(--tng-blue);
}

:global button,
:global input[type='submit'],
:global select {
  cursor: pointer;
}

:global input[type='text']:focus {
  border-color: var(--light-blue);
}

:global a {
  color: var(--tng-blue);
}

:global a:focus {
  outline: 0.125rem solid var(--light-blue);
  outline-offset: 0.125rem;
}
