.resultsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.notVotedEntry {
  color: var(--text-tertiary);
  fill: var(--text-tertiary);
}

.votedEntry {
  text-align: center;
  color: var(--text-primary);
  fill: var(--text-primary);
}

.pendingConnection {
  color: var(--text-tertiary);
  fill: var(--text-tertiary);
}

.loading {
  line-height: 320px;
}
