.resultsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.notVotedEntry {
  color: var(--tng-gray);
  fill: var(--tng-gray);
}

.votedEntry {
  text-align: center;
}
