stackname="scrum-poker"
subdomainname="scrum-poker"
tablename="scrum_poker"

# constants: DO NOT CHANGE!
basedomainname="playground.aws.tngtech.com"
certificate="arn:aws:acm:eu-central-1:530798195059:certificate/9fb19f73-7147-4e1b-afeb-beb88568d5d5"
cloudfrontcertificate="arn:aws:acm:us-east-1:530798195059:certificate/2b9035b3-616b-41c7-8ab3-f71135b2fd60"

# auto generated variables
S3Backend=${subdomainname}
S3Frontend=${subdomainname}.${basedomainname}
StackBase=${stackname}-base
StackBackend=${stackname}-backend