.scaleSelector {
  position: relative;
}

.dropDown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  border: 0.125rem solid var(--primary);
  margin: 0.25rem 0 0;
  background-color: var(--background);
  list-style: none;
  padding: 0.25rem;
}

.dropDownItem {
  padding: 0.3rem;
  cursor: pointer;
}

.dropDownItem:hover {
  color: var(--text-secondary);
  background: var(--primary-light);
  border-radius: 0.25rem;
}
