.revealButton {
  composes: button from '../styles.module.css';
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  height: 4.5rem;
}

.revealNowButton {
  composes: revealButton;
  background-color: var(--dark-red);
}

.revealNowButtonInfo {
  font-size: 0.75rem;
  line-height: 1;
}

:global(.no-touch) .revealNowButton:hover,
.revealNowButton:focus {
  color: white;
  background: var(--red);
}

:global(.no-touch) .revealNowButton:hover:active {
  background: var(--dark-red);
}
