.privacyNotice {
  font-size: 0.75rem;
  word-break: break-word;
  padding-bottom: 1rem;
  animation: appear 1s;
  text-align: left;
}

.privacyNotice p {
  margin: 0.25rem 0;
}

.privacyNotice h1,
.privacyNotice h2,
.privacyNotice h3 {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.privacyNotice h1 {
  margin-top: 1.5rem;
  color: var(--primary);
}

.privacyNotice h2 {
  margin-top: 0.75rem;
}

.privacyNotice h3 {
  margin-top: 0.5rem;
}

.privacyNotice ul {
  padding: 0 1rem;
  margin: 0.25rem 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}
