.root {
  color: var(--primary);
  fill: var(--primary);
  border: 1px solid var(--primary);
  background: var(--secondary);
  border-radius: var(--border-radius);
  cursor: pointer;
  height: 22px;
  width: 22px;
  padding: 2px;
  display: block;
  line-height: 16px;
  margin: auto;
}

.root:hover {
  background: var(--primary-light);
  border-color: var(--primary-light);
  color: var(--text-secondary);
  fill: var(--text-secondary);
}

.root:focus {
  outline: 0.125rem solid var(--primary);
  outline-offset: 0.125rem;
}
