.footer {
  margin: 0;
  padding: 1.5rem 0 1.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sessionInfo {
  color: var(--tng-gray);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.infoItem {
  margin: 0 0.5rem;
  white-space: nowrap;
}
