.loginPage {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 0.5rem;
  align-content: center;
  justify-content: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media (min-width: 300px) {
  .loginPage {
    grid-gap: 0.75rem;
    grid-template-columns: min-content min-content;
  }
}

.heading {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  color: var(--tng-blue);
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2;
  white-space: nowrap;
}

.logo {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  padding-bottom: 16%;
  width: 100%;
  position: relative;
}

.logoImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.userLabel {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: end;
}

.userInput {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0 0.5rem;
  width: 100%;
  min-width: 8rem;
}

.userInput:focus {
  border-color: var(--light-blue);
}

.sessionLabel {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: end;
}

.sessionLink {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
}

.submit {
  composes: button from '../../styles.module.css';
  --button-width: 100%;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.privacyNotice {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  justify-self: center;
}
