.heading {
  color: var(--primary);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.button {
  color: var(--text-secondary);
  fill: var(--text-secondary);
  background: var(--primary);
  width: var(--button-width);
}

:global(.no-touch) .button:hover,
.button:focus {
  color: var(--text-secondary);
  background: var(--primary-light);
}

.button:disabled,
.button:disabled:hover {
  color: var(--text-secondary);
  background: var(--tertiary);
  cursor: not-allowed;
}

:global(.no-touch) .button:hover:active {
  background: var(--primary);
}

.table {
  text-align: left;
  padding: 0.25rem;
  border-spacing: 0.5rem 0;
  margin: auto;
  line-height: 1.5rem;
}

.blueBorder {
  border: 0.125rem solid var(--primary);
  width: min-content;
  border-radius: var(--border-radius);
  margin: 0.25rem 0 0.75rem 0;
  min-width: var(--button-width);
}

.headerRow {
  color: var(--primary);
  line-height: 35px;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: auto;
}
