.header {
  color: var(--text-tertiary);
  line-height: 1.4;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo {
  margin-left: 0.5rem;
}

.logoImage {
  height: 1rem;
  width: 6.25rem;
  vertical-align: middle;
  position: relative;
  top: -0.125rem;
}

.placeholder {
  height: 24px;
  width: 24px;
  padding: 0.125rem;
}
